* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.lightbulb-on {
  height: 10rem;
  width: 10rem;
  margin-top: 20rem;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.lightbulb-off {
  height: 10rem;
  width: 10rem;
  margin-top: 20rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.background-on {
  margin: 0;
  background-color: #fef9f1;
}
.background-off {
  margin: 0;
  background-color: rgb(85, 84, 84);
}
